*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}



a{
    text-decoration: none;
    color: #005FAC;
}

a:hover{
    color: whitesmoke;
}

h6{
    color: #737272;
}


.primary-btn{
    background-color: white;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 15px;

}

.primary-btn:hover{
    background-color: #00B8EC;
    color: #FFFFFF;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.primary-color{
    color: #00A9E4;
}

ul{
    list-style-type: none;
}

/* nav bar style */

.nav-bar{
    
    background-color: #12a1c996;
    
}
.nav-bar-element{
    max-width: 1140px;
    background-color:whitesmoke;
    margin: 0 auto;
    height:50px;
    font-weight: 700;
    font-size: 25px;
     padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    
}

.nav-bar-element>ul{
    display: flex;

    gap: 25px;
    
}

.nav-bar-element .dropdown{
    display: none;
    position: absolute;
    padding: 18px 0;
    background-color: white;
    
    
}

.nav-bar-element ul li{
    background-color:;
    padding: 9px 13px;
    opacity: 70%;
}

.nav-bar-element  li:hover .dropdown{
    display: block;
    
}
.nav-bar-element ul li a{
    color: black;
    
    

}

.nav-bar-element ul li a:hover{
    color: white;
    background: #08a7d3;
    
    
    
}


/* banner style */

.banner{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    height:900px;
    background-size: cover;
    background-position: center;
    
}

.banner-element{
    float: right;
    margin:216px 230px 0 845px;
    text-align: right;
    
}

.banner-title{
    font-size: 65px;
    font-weight:700;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.banner-description{
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

/* Failures list style*/

.failure-container{
    display: flex;
    margin-top: 130px;
    margin-bottom: 130px;
}

.failure-list{
    margin-top: 270px;
    text-align: left;
    padding-left: 87px;

}

.failure-list .title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
    color: #151414;
}

.failure-list .description{
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-list .list{
    line-height: 36px;
}


.tick-mark{
    color: #16D887;
}

/* Skill style */


.skill-container{
    
    padding-left:100px;
    
    
}

.skill-container-title{
    margin-bottom: 50px;
    
    font-weight: 800;
    font-size: 40px;
    text-align: center;


}
.skill-list{
    display: flex;
    gap: 130px;
    margin-left: 70px;
}

    


.skill-list h4{
    text-align: center;
}

/* contact banner style */

.contact-banner-container{
    height: 300px;
    background-image: url(../images/watch.png);
    margin-top: 130px;
    margin-bottom: 130px;
   
}

.contact-banner{
    background:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    height: 100%;
    
    
}

.contact-banner-element{
    padding: 60px 64px;
    
}
.contact-banner-element h2{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 27px;

}

/* footer style */

footer{
    height: 577px;
    background-color: #151414;
    
}


.footer-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.social-media-contact{
    
    color: white;
    padding: 130px 0px;
    width: 485px;
    height: 317px;

}

.social-media-contact h2{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.social-media-contact p{
    line-height: 30px;
}

.social-media-icon img{
    padding:30px 8px ;
}

.subscribe-container{
    margin-top: 130px;
    margin-left: 400px;
    

    
}

.subscribe-container h3{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 32px;
}



.subscribe-container .email-box{
    background-color: black;
    padding: 20px 40px;
    margin-bottom: 15px;
    border-radius:4px;
    border: 1px solid gray;
    color: white;

}

/* Ending Point*/